body {
    margin: 0;
    overflow: hidden;
    background-color: skyblue; /* îwåiêFÇê›íË */
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 200vw; /* îwåiÇí∑Ç≠ */
    height: 100vh;
    background-image: url('goku.jpg');
    background-size: cover;
    background-position: 70% 30%;
    background-repeat: repeat-x;
}

#player {
    position: absolute;
    width: 50px;
    height: 100px;
    background-image: url('goku2.jpg');
    background-size: cover;
    background-position: center bottom;
    bottom: 100px;
    left: 50px;
}

.enemy {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('saibaiman.jpg');
    background-size: cover;
    background-position: center bottom;
    #background-color: green;
    bottom: 100px;
}
#enemy-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#goal {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    bottom: 100px;
    /* ÉSÅ[ÉãÇÃà íuÇí≤êÆÅBviewport widthÇ…àÀë∂ÇµÇ»Ç¢å≈íËílÇ… */
    left: 2800px; /* ó·Ç¶ÇŒÅAÉQÅ[ÉÄâÊñ ÇÃÇ©Ç»ÇËâEí[ */
}

#ground {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #654321;
    bottom: 0;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

#highScore {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 20px;
    color: white;
}

.fire {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
}
.fast-enemy {
    background-image: url('bata.jpg');
    background-size: cover;
    background-position: center bottom;
    width: 70px;
    height: 70px;
}