body {
    margin: 0;
    overflow: hidden;
    background-color: skyblue; /* 背景色を設定 */
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 200vw; /* 背景を長く */
    height: 100vh;
    background-image: url('goku.jpg');
    background-size: cover;
    background-repeat: repeat-x;
}

#player {
    position: absolute;
    width: 50px;
    height: 100px;
    background-image: url('goku2.jpg');
    background-size: cover;
    background-position: center bottom;
    bottom: 100px;
    left: 50px;
}

.enemy {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    bottom: 100px;
}
#enemy-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#goal {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    bottom: 100px;
    /* ゴールの位置を調整。viewport widthに依存しない固定値に */
    left: 2800px; /* 例えば、ゲーム画面のかなり右端 */
}

#ground {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #654321;
    bottom: 0;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
}

#highScore {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 20px;
    color: white;
}